trigger:
- none

variables:
  - group: GenericVars.CI.A
  - name: System.Debug
    value: 'false'

jobs:
- job: job_quality_assessment_cobol
  displayName: 'Quality assessment of COBOL Components'
  variables:
#    devx_set_task_list: $[dependencies.job_validate_set.outputs['task_validate_set.devx_set_task_list']]
    job_name: 'job_quality_assessment_cobol'
#  dependsOn: job_validate_set
#  condition: contains(dependencies.job_validate_set.outputs['task_validate_set.devx_task_types'], 'COB')
  workspace:
    clean: all
  pool:
    name: 'SelfHostAgentTest'
    demands:
      - Docker
  container:
    image: $(DOCKER_IMAGE)
    endpoint: 'docker-build-images-sc'
    env:
      DEVX_APPLICATION: $(ispwApplication)
      DEVX_ASSIGNMENT: $(ispwContainerName)
      DEVX_SET: $(ispwSet)
      DEVX_LEVEL: $(ispwLevel)
      DEVX_SET_OWNER: $(owner)
      DEVX_DEVELOPMENT_RELEASE: $(DEVX_DEVELOPMENT_RELEASE)
      DEVX_ONBOARDED_APPLICATIONS: $(DEVX_ONBOARDED_APPLICATIONS)
      DEVX_RUNTIME_CONFIGURATION: $(DEVX_RUNTIME_CONFIGURATION)
      PEM_CERTIFICATE: $(PEM_CERTIFICATE)
      CES_HOST_URL: $(CES_HOST_URL)
      CES_INSTANCE: $(CES_INSTANCE)
      HCI_HOST: $(HCI_HOST)
      HCI_PORT: $(HCI_PORT)
      HCI_COPYBOOK_DATASET: $(HCI_COPYBOOK_DATASET)
      HCI_EMAIL_DATASET: $(HCI_EMAIL_DATASET)
      HCI_TARGET_DIRECTORY: $(HCI_TARGET_DIRECTORY)
      HCI_TIMEOUT: $(HCI_TIMEOUT)
      TOTAL_TEST_CONFIGURATION_REPO: $(TOTAL_TEST_CONFIGURATION_REPO)
      TOTAL_TEST_LOG_LEVEL: $(TOTAL_TEST_LOG_LEVEL)
      CODE_COVERAGE_REPO: $(CODE_COVERAGE_REPO)
      JASPR_HOST_URL: $(JASPR_HOST_URL)
      BUILDER_USER: $(SONAR_USER)
      BUILDER_PASSWORD: $(SONAR_PASSWORD)
      SONAR_HOST_URL: $(SONAR_HOST_URL)
      SONAR_BASE_PROJECT: $(SONAR_BASE_PROJECT)
      SONAR_BASE_PROJECT_DIRECTORY: $(SONAR_BASE_PROJECT_DIRECTORY)
      ADO_HOST_URL: $(ADO_HOST_URL)
      ADO_ORGANIZATION: $(ADO_ORGANIZATION)
      ADO_PROJECT: $(ADO_PROJECT) 
      ADO_PAT: $(ADO_PAT)
      DEFAULT_EMAIL_ID: $(DEFAULT_EMAIL_ID)
      CI_PIPELINE_TEAMS_LINK: $(CI_PIPELINE_TEAMS_LINK)
      ARTIFACT_DIRECTORY: $(job_name)
      DEVX_SET_TASK_LIST: $(devx_set_task_list)
      HCI_PASSWORD: $(HCI_PASSWORD)
      HCI_USER: $(HCI_USER)
      CONTAINER_TYPE: $(CONTAINER_TYPE)
      SERVER_LEVEL: $SERVER_LEVEL)
  steps:
  - task: PythonScript@0
    displayName: 'Download COBOL Source'
    name: task_download_source_cobol
    inputs:
      pythonInterpreter: '/usr/local/bin/python'
      scriptPath: '/opt/src/cimf_scripts/bin/download_source.py'
      arguments: '"COB"'
  - task: PythonScript@0
    displayName: 'Download COPY Source'
    name: task_download_source_copy
    inputs:
      pythonInterpreter: '/usr/local/bin/python'
      scriptPath: '/opt/src/cimf_scripts/bin/download_copy.py'
  - task: PythonScript@0
    displayName: 'Download Unit Test Project'
    name: task_download_unit_test_project
    inputs:
      pythonInterpreter: '/usr/local/bin/python'
      scriptPath: '/opt/src/cimf_scripts/bin/download_unit_test_project.py'
  - task: Bash@3
    displayName: Update JOB Card
    inputs:
      targetType: 'inline'
      script: |
        echo "check current directory"
        cd /opt
        ls -lartiR
        cat MF_Test/$(ADO_PROJECT)/TotalTestConfiguration/JCLSkeletons/JobCard.jcl
        echo "Before changes"
        echo "//ZA0882Q JOB ('SW00000'),'TTT',CLASS=L,MSGCLASS=G,REGION=0M" > MF_Test/$(ADO_PROJECT)/TotalTestConfiguration/JCLSkeletons/JobCard.jcl
        echo "After changes"
        cat MF_Test/$(ADO_PROJECT)/TotalTestConfiguration/JCLSkeletons/JobCard.jcl
  - task: Bash@3
    displayName: TTT, Username & CC
    inputs:
      targetType: 'inline'
      script: |
        cd /opt
        TotalTestFTCLI.sh -configuration target/configuration -a SW00000 -S ../KTTA/MF_Source -host $(HCI_HOST) -port $(HCI_PORT) -code 1047 -data data/total_test -r /opt/MF_Test/$(ADO_PROJECT)/Tests -f Scenarios -R -G -v 6 -log $(TOTAL_TEST_LOG_LEVEL) -ccclear true -ccrepo $(CODE_COVERAGE_REPO) -ccsys $(CODE_COVERAGE_SYSTEM) -cctid $(CODE_COVERAGE_TEST) -cfgdir /opt/MF_Test/$(ADO_PROJECT)/TotalTestConfiguration -u $(HCI_USER) -p $(HCI_PASSWORD) 
#        echo "After CLI execution"
#        cat data/total_test/.metadata/.log
#        ls -lartiR MF_Test/BMC_TotalTest
#        cd /opt/MF_Test/BMC_TotalTest/Tests/Output
#        echo "CWKTCOBX.cli.suiteresult"
#        cat CWKTCOBX.cli.suiteresult
#        echo "CWKTCOBX.cli.suite.sonar.xml"
#        cat CWKTCOBX.cli.suite.sonar.xml
#        echo "CWKTCOBX.cli.sonar.codecoverage.xml"
#        cat CWKTCOBX.cli.sonar.codecoverage.xml
#        echo "CWKTCOBX.cli.suite.junit.xml"
#        cat CWKTCOBX.cli.suite.junit.xml
  - task: Bash@3
    displayName: Username & CC
    inputs:
      targetType: 'inline'
      script: |         
        CodeCoverageCLI.sh -configuration /opt/target/configuration -host $(HCI_HOST) -port $(HCI_PORT) -code 1047 -data /opt/data/code_coverage -cc.repos $(CODE_COVERAGE_REPO) -cc.system $(CODE_COVERAGE_SYSTEM) -cc.test $(CODE_COVERAGE_TEST) -cc.sources /opt/KTTA/MF_Source -targetFolder /tmp/target/MF_Test -id $(HCI_USER) -pass $(HCI_PASSWORD) -timeout '0'
        echo "After CLI execution"
        cat /opt/data/total_test/.metadata/.log
        ls -lartiR /tmp/target/MF_Test
        cd /tmp/target/MF_Test/Coverage
        cat CodeCoverage.xml
